<div class="container pt-4">
  <div class="row">
      <div class="col-md-8 text-center m-auto">
        <div class="row mt-5">
          <div class="col-md-12 mb-5">
            <h2>Ксни си</h2>
          </div>
          <div class="col-md-6">
            <!-- <button class="btn btn-custom">Hrana</button> -->
            <!-- <button class="mb-3 btn-custom">Храна</button> -->
            <h2>Храна</h2>
            <img src="../assets/food.jpg" alt="Food" class="kopchinja mb-4">
          </div>
          <div class="col-md-6">
            <!-- <button class="btn btn-custom mb-4" (click)="toggleRestorani()">Restorani</button> -->
              <!-- <button class="mb-3 btn-custom">Ресторани</button> -->
            <h2>Ресторани</h2>
            <img src="../assets/rest.jpg" alt="Restaurants" class="kopchinja mb-4" (click)="toggleRestorani()">
            <div class="m-auto">
              <app-restorani *ngIf="showRestorani" class="m-auto"></app-restorani>
            </div>
          </div>
          <br>

        </div>
      </div>
  </div>
</div>
